In [1]:
import pandas as pd
import numpy as np
import os
import time
from itertools import cycle
from rich import print
from rich.console import Console
from rich.table import Table
from rich.panel import Panel
from rich.style import Style
from rich.panel import Panel
from rich.live import Live
from dataset_visualiser import visualize_dataset

In [3]:
df = pd.read_csv("uniquest_data_generator/data/applications.csv")
df

,student_id,program_id,application_date,status,decision_date,predicted_admission_probability,actual_admission_probability,notes,application_id
0,1,678,2024-05-08,waitlisted,2024-06-21,70.68,79.25,NaN,1
1,1,129,2024-05-19,under_review,NaN,86.31,70.14,Compare full speak nothing environmental nice.,2
2,1,555,2023-04-25,submitted,NaN,79.76,17.23,NaN,3
3,1,520,2023-08-27,waitlisted,2024-10-31,34.31,16.12,NaN,4
4,1,10,2024-08-05,rejected,2024-12-03,63.80,54.40,Both give herself represent federal.,5
...,...,...,...,...,...,...,...,...,...
394325,52500,409,2023-10-29,accepted,2023-12-08,16.91,66.84,Anyone bag stop.,394326
394326,52500,374,2023-12-29,under_review,NaN,84.66,79.30,NaN,394327
394327,52500,5,2023-10-07,waitlisted,2025-02-15,74.53,34.68,NaN,394328
394328,52500,145,2023-10-09,submitted,NaN,70.97,51.83,NaN,394329
394329,52500,521,2023-05-12,submitted,NaN,69.19,87.31,NaN,394330